@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Sahel-Light.woff') format('woff');
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Sahel.woff') format('woff');
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Sahel-Bold.woff') format('woff');
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Sahel-Black.woff') format('woff');
}

html,
body,
.mapContainer {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
}

* {
    font-family: sahel;
}

*:focus {
    outline: none;
}

.mapContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#map {
    position: relative;
    height: 100%;
}

.head {
    width: 29%;
    position: fixed;
    top: 30px;
    z-index: 999;
}

.head #search {
    float: right;
    margin: 20px 42px;
    text-align: right;
    border: 1px solid #d8d6d2;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
    padding: 10px 20px;
    direction: rtl;
    font-family: sahel;
    opacity: 0.9;
    outline: 0;
    width: 345px;
}


.clear {
    clear: both;
}

.search-box {
    width: fit-content;
}


.result-item {
    padding: 10px 5px;
    border-bottom: 0px solid #f2f2f2;
    max-width: 400px;
}


.result-item span,
.result-item a {
    display: inline-block;
}


.main-modal{
    display: none;
    z-index: 1000;
    position: absolute;
    top: 105px;
    left: 338px;
    background-color: #1066ab;
    padding: 11px 23px;
    width: 711px;
    border-radius: 3px;
    direction: rtl;
}
h2{
    text-align:center;
    margin-bottom:30px ;
    color: white;
}
#submit{
    text-align:center;
}
button{
    padding:10px 25px;
    background-color:#4e73df;
    border: none;
    border-radius: 3px; 
    color: white;
    font-size: 15px;
    font-weight: bold;
}
input{
    margin-right: 35px;
    padding: 7px 100px;
    border: none;
    border-radius: 4px;
    direction: rtl;
    font-size: 15px;
    font-weight: bold;
}
select{
    margin-right: 25px;
    padding: 7px 100px;
    border: none;
    border-radius: 4px;
    direction: rtl;
    font-size: 15px;
    font-weight: bold;
    
}
.lat {
    width: 240px;
    padding: 7px 45px;
}
.lng {
    width: 240px;
    padding: 7px 45px;
}
.close-modal {
    color: white;
    font-family: cursive; 
}
.close-modal:hover {
   cursor: pointer;
   opacity: 0.7;
}



.user-location {
    position: fixed;
    top: 550px;
    left: 6px;
    z-index: 1000;
    width: 40px;
    height: 45px;
    background: rgba(242, 209, 99, 0.8);
    box-shadow: 1px 2px 13px #777;
    border-radius: 20px;
}

 
.user-location:hover {
    cursor: pointer;
    opacity: 0.7;
}
.btn-group{
    position: absolute;
    z-index: 1000;
    top: 16px;
    left: 1246px;
}
#result-search{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 111px;
    box-shadow: 1px 2px 13px #b39595b3;
    border-radius: 8px;
    width: 345px;
    left: 980px;
    background: #ffffff;
    padding: 8px 20px;
}
.searchTag{
    font-family: sahel;
    font-weight: 500;
    font-size: 13px;
}
.result-item:hover{
    cursor: pointer;
}
.result-item{
    padding: 8px 12px;
    font-family: sahel;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
.loc-type{
    box-shadow: 3px 3px 5px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 5px;
    background: #5b6fe0;
    color: #fdfdfd;
}
.btn-primary{
    top: -10px;
    left: 35px;
}

a {
    text-decoration: none;
}